<p>My name is <a href="/" target="_blank">Wyatt Johnson</a>. I am a student at the <a href="http://ualberta.ca/" target="_blank">University of Alberta</a> studying Computer Sciences and Astrophysics. Currently employed at <a href="https://bigpixel.ca/" target="_blank">Big Pixel Creative</a> as a system administrator and programmer.</p>
<p>Checkout my <a href="https://github.com/wyattjoh" target="_blank">GitHub</a>, <a href="https://ca.linkedin.com/pub/wyatt-johnson/47/7a9/874/" target="_blank">LinkedIn</a>, and <a href="https://twitter.com/wyattjoh">Twitter</a>.</p>
<hr/>
